 .webpageContainer{
     background-color: lightgrey;
     width: 75%;
     height:690px;
     border-radius: 5px;
     opacity: 0.5;
     margin-left: 180px;
     display: inline-block;
     margin-top: 20px;
     
 }
 .mainContainer{
     display: inline-block;
     
     background-color: white;
     width: 87%;
     height: 530px;
     border-radius: 30px;
     box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.44);
     margin: 80px 0px 0px 69px;
     box-shadow: 20px;
 }
 .innerContainer{
     width:290px;
     height:90%;
     border:2px solid blue;
     display:inline-block;
     margin: 33px 30px;
     border-radius: 12px;
     background-color: blue;
 }
 .Save{
     display: inline-block;
     
     margin: -10px 0px 0 15px ;
     color: white;
     
     line-height: 2px;
     word-spacing: 6px;
 }
 .Save p{
     font-weight: 30;
     font-size: 35px;
    
 }
 .Save span{
     font-family: bolder;
     font-size: 35px;
     font-family: 'Open Sans', sans-serif;
 }
 .manage{
     display: inline-block;
     
     color: white;
     
     font-size: 12px;
     margin: 5px 0 0 15px;
     word-spacing: 3px;
     line-height: 16px;
 }
 .logo{
     
     margin:20px 60px;
 }
 .Plan{
     
     display: inline-block;
     
     position: absolute;
     margin-top: 8px;
     margin-left: 30px;
     font-size: 28px;
     color: black;
     margin-left: 0px;
 }
 .Plan span{
     font-weight: bolder;
     color:black
 }
 .corporate{
     
     display: inline-block;
     position: absolute;
     line-height: 1px;
     margin:45px 500px;
     width:200px;
 }
 .corporate span{
     font-size: 13px;
     font-weight: bolder;
 }
 .corporate p{
     font-size: 13px;
     color: blue;
     margin-left: 45px;
     font-weight: bolder;
 }
 .innerContainer3{
     width: 30%;
     height: 380px;
     border-color: blue;
    background-color: blue;
     margin-left: 670px;
     margin-top: -385px;
     border-radius: 12px;
 }
 .pro{
     
     display: inline-block;
     font-size: 26px;
     margin-top: -25px;
     margin-left: 15px;
     font-weight: bolder;
     color: white;
     
 }
 .monthly{
     display: inline-block;
     
     margin-left: 108px;
     line-height: 0.2px;
     margin-top: 18px;
 }
 .monthly p{
     font-size: 20px;
    font-weight: bolder;
    margin-left: 70px;
    margin-top: 10px;
    color: white;
 }
 .monthly span{
     font-size: 14px;
     margin-left: 65px;
     color: white;
 }
 .blank1{
     border: 2px solid blue;
     margin-top: -20px;
     width: 10px;
     margin-left: 17px;
     background-color: white;
 }
 .all{
     
     display: inline block;
     margin-top: -10px;
     margin-left: 15px;
     font-weight: bolder;
     color: white;
 }
 .tick5{
     margin-left: 15px;
     color: white;
 }
 .para5{
     width:250px;
     font-size: 13px;
     color: white;
     margin: -35px 45px;
 }
 .tick6{
     margin-top: 40px;
     margin-left: 15px;
     color: white;
 }
 .para6{
     
    color: white;
     margin-top: 40px;
 }
 .para6 p{
     font-size: 13px;
     margin-top: -12px;
     margin-left: 15px;
     display: inline-block;

 }
 
 .tick7{
    margin-top: -20px;
    margin-left: 15px;
    color: white;
 }
 .para7 p{
    font-size: 13px;
    margin-top: -5px;
    margin-left: 15px;
    display: inline-block;
    color: white;

}
.tick8{
    margin-top: 40px;
    margin-left: 15px;
    color: white;
 }
 .para8 p{
    font-size: 13px;
    margin-top: -12px;
    margin-left: 15px;
    display: inline-block;
    color: white;

}
.view2{
    display: inline-block;
    margin: 18px 85px;
    font-size: 13px;
    color: white;
}
.button2{
    margin-top: -10px;
}
.btn2{
    border-radius: 8px;
    margin: -80px 60px;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
    border-color: blue;
}
.innerContainer2{
    width: 30%;
    height: 380px;
    border-color:rgb(238, 235, 235) ;
    background-color: rgb(238, 235, 235);
   
    margin-left: 347px;
    margin-top: -420px;
    border-radius: 12px;
}
.lite{
    
    display: inline-block;
    font-size: 26px;
    margin-top: -25px;
    margin-left: 15px;
    font-weight: bolder;
    color: black;
    
}
.Free{
    display: inline-block;
    
    margin-left: 108px;
    line-height: 0.2px;
    margin-top: 18px;
}
.Free p{
    font-size: 20px;
   font-weight: bolder;
   margin-left: 70px;
   margin-top: 10px;
}
.Free span{
    font-size: 14px;
    margin-left: 15px;
    
}
.blank{
    border: 2px solid blue;
    margin-top: -20px;
    width: 10px;
    margin-left: 17px;
    background-color: blue;
}
.includes{
    
    display: inline block;
    margin-top: -10px;
    margin-left: 15px;
    font-weight: bolder;
}
.tick1{
    margin-left: 15px;
}
.para1{
    width:250px;
    font-size: 13px;
    
    margin: -35px 45px;
}
.tick2{
    margin-top: 40px;
    margin-left: 15px;
}
.para2{
    
    
    margin-top: 40px;
}
.para2 p{
    font-size: 13px;
    margin-top: -12px;
    margin-left: 15px;
    display: inline-block;

}

.tick3{
   margin-top: 40px;
   margin-left: 15px;
}
.para3 p{
   font-size: 13px;
   margin-top: -12px;
   margin-left: 15px;
   display: inline-block;

}
.tick4{
   margin-top: 40px;
   margin-left: 15px;
}
.para4 p{
   font-size: 13px;
   margin-top: -12px;
   margin-left: 15px;
   display: inline-block;

}
.view{
   display: inline-block;
   margin: 30px 85px;
   font-size: 13px;
}
.button1{
   margin-top: -10px;
}
.btn1{
   border-radius: 8px;
   margin: -80px 60px;
   background-color: blue;
   color: white;
   padding: 10px 10px 10px 10px;
   border-color: blue;
}